.navbar {
	background-color: #73b4f7;
	border-radius: 10px;
}
.navbar ul {
	overflow: auto;
	text-align: center;
}
.navbar li {
	display: inline-block;
	list-style: none;
	margin: 13px 20px;
	right: 80px;
	text-align: center;
	align-content: center;
}
.navbar li a {
	padding: 5px 5px;
	text-decoration: none;
	color: white;
	display: block;
	text-align: center;
	width: 100px;
	height: 20px;
}
.navbar ul li a:hover {
	color: red;
	background-color: orange;
	text-align: center;
}
.navbar ul li a {
	display: block;
	text-align: center;
}
h1 {
	background-color: #F309173B;
	border: 5px solid black;
	border-radius: 10px;
	padding: 3px;
	margin: auto;
}
.hypixel {
	background-color: #9fd5ec;
	text-align: center;
	margin: 10px;
	padding: 10px;
	border: 5px solid black;
	border-radius: 10px ;
	font-style: italic;
	color: black;
	font-family: sans-serif;
}
table {
	border: 5px solid black;
	border-radius: 10px;
}
tr,td {
	border: 1px solid black;
}
.Support {
	border: 5px solid black;
	border-radius: 10px;
	background-color: #96cae3;
	padding: 10px;
	margin: 5px;
	width: 300px;
	text-align: center;
	margin: 10px auto;
}